body {
background-color: white;

}

#white {
width: 30px;
height: 30px;
border-radius: 50%;
background:white;
border:0px;



}


#red {
width: 30px;
height: 30px;
border-radius: 50%;
background:#FE9393;
border:0px;


	
}


#orange {
width: 30px;
height: 30px;
border-radius: 50%;
background:#FFC69D;
border:0px;


	
}


#yellow {
width: 30px;
height: 30px;
border-radius: 50%;
background:#FFF9BE;
border:0px;


	
}


#green {
width: 30px;
height: 30px;
border-radius: 50%;
background:#DFFFD0;
border:0px;


	
}


#teal {
width: 30px;
height: 30px;
border-radius: 50%;
background:#C5FBFF;
border:0px;


	
}


#blue {
width: 30px;
height: 30px;
border-radius: 50%;
background:#C3D8FF;
border:0px;


	
}


#lilac {
width: 30px;
height: 30px;
border-radius: 50%;
background:#E9CCFF;
border:0px;


	
}


img {
height: 60px;
  object-fit: cover;
  width: 60px;

}

#sunring {
position:relative;



}

#dropBox1 img{
position:absolute;
}

#dropBox1 {
position:relative;
}

#dropBox2 img{
position:absolute;
}

#dropBox2 {
position:relative;
}

#dropBox3 img{
position:absolute;
}

#dropBox3 {
position:relative;
}

#dropBox4 img{
position:absolute;
}

#dropBox4 {
position:relative;
}

#dropBox5 img{
position:absolute;
}

#dropBox5 {
position:relative;
}

#dropBox6 img{
position:absolute;
}

#dropBox6 {
position:relative;
}

#dropBox7 img{
position:absolute;
}

#dropBox7 {
position:relative;
}

#dropBox8 img{
position:absolute;
}

#dropBox8 {
position:relative;
}

#dropBox9 img{
position:absolute;
}

#dropBox9 {
position:relative;
}

#dropBox10 img{
position:absolute;
}

#dropBox10 {
position:relative;
}
#dropBox11 img{
position:absolute;
}

#dropBox11 {
position:relative;
}
#dropBox12 img{
position:absolute;
}

#dropBox12 {
position:relative;
}




.bgbuttons {
position:fixed;
left:20px;
top:660px;
}

.symbolbuttons {
position:absolute;
left:1130px;
top:40px;
}


#symbols {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 0px;
  width: 0px;
  padding: 16rem;

}


#symbols2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 0px;
  width: 90px;
  padding: 16rem;
 

}
#blackcirclebg {
opacity:0.3;

}

#sunfacebg {
opacity:0.3;

}

#leftmoonbg {
opacity:0.3;

}

#shootingbg {
opacity:0.3;

}

#angrymoonleftbg {
opacity:0.3;

}

#angryrightmoonbg {
opacity:0.3;

}

#blackcirclebg {
opacity:0.3;

}

#emptycirclebg {
opacity:0.3;

}

#dropZone,
#animals {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 20px;
  pointer-events:none;
}
#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100px;
  padding: 1rem;
}


#dropZone2,
#animals {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 20px;
  pointer-events:none;
  

}
#dropBox5,
#dropBox6,
#dropBox7,
#dropBox8 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  padding: 1rem;
  
}

#dropZone3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 1px;
  pointer-events:none;
  

}
#dropBox9,
#dropBox10,
#dropBox11,
#dropBox12 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  padding: 10rem;
  
}

#sunface {
pointer-events:all;
}

#leftmoon {
pointer-events:all;
}

#sunring {
pointer-events:all;
}

#shooting {
pointer-events:all;
}

#angrymoonleft {
pointer-events:all;

}

#angryrightmoon {
pointer-events:all;

}

#blackcircle {
pointer-events:all;

}

#emptycircle {
pointer-events:all;

}

.draggable {
position:fixed;
width:100vw;
height:100vw;
top:0px;
pointer-events:all;
}

.fixed {
pointer-events:none;
}

